@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/*Inicio-index*/
.bg-primary {
    background-color: #FC5130  !important;
}

.btn-primary {
     background-color: #306AFC  !important;
     border-radius: 40px;
     width: 175px !important;   
     height: 66px !important;  
     color: #ffffff !important;   
}
.btn-primary:hover {
    background-color: #0549f7 !important;
}

.nav-item {
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.btn-secondary {
     background-color: #ffffff  !important;
     border-radius: 40px;
     width: 175px !important;   
     height: 66px !important;   
     border: 2px solid #306AFC;  
     color: #306AFC;
}
.btn-secondary:hover {
    border: 2px solid #0549f7;  
    background-color: #dfe7ff  !important;   
}

.menu {
    display: flex;
    justify-content: right;
    
}

body {
    font-family: Poppins;
    background-color: #F2F1EA;
}

.titulo-section {
    font-size: 50px;
    padding-top: 50px;    
}

.destacado-titulo {    
    color: #FF7257;
    padding-top: 20px;

}
.parrafo-titulo
{
    font-size: 16px;
    margin-top: 1rem;
}
.contenido-t-p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-principal {
    padding-top: 20px;
}

.doble-boton {
    display: flex;
    justify-content: left;
    align-items: left;
}
.boton-secundario {
    padding-top: 20px;
    padding-left: 10px;
}

a {
    text-decoration: none;    
}
.bp-h {
    color: #ffffff;
}
.bs-h {
    color: #306AFC;
}

.footer {
   border-top: 1px solid #FC5130;
   display: flex;
   justify-content: end;
   align-items: end;
   background-color: #292928;
}

.redes {
    display: flex;
    justify-content: right;
    padding-top: 1rem;
    
}
.footer-texto {   
    padding-top: 1.5rem;
    color: #FC5130;
    font-size: 14px;
    text-align: left;
}

li {
    list-style-type: none;
}
.img-redes {
    padding: 10px;
    display: flex;
    justify-content: right;
}

/*Formación*/

.subtitulo-f {
    border: 1px solid #FC5130;
    background-color: #fff;
    padding: 15px;    
}

.img-formacion {
    width: 80px;
    height:80px;
    background-color: #306AFC;
    display: flex;
    justify-content: center;
    border-radius: 80px;
    
}
.card {
    border: 2px solid #306AFC !important;
    background-color: #DCE6FF;
    border-radius: 20px;
}
h5 {
    color: #306AFC !important;
}

.formulario-c {
    margin: 1rem;
    background-color: #DCE6FF;
    border-radius: 20px;
    padding: 20px;
    
}
.titulo-c {
    margin-top: 3rem;
}

@media (max-width:990px) {    
    .imagen-inicio {
        padding-bottom: 3rem;
    }
    .redes {    
    display: flex;
    justify-content: center;
}
    .footer-texto {
    display: flex;
    justify-content: center;
    }
   
}

/*Habilidades*/

.img-h {
    width: 50px;
    height: 50px;  
    
}

.img-contenedor-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px) {
    .titulo-section {    
    padding-top:0px;  
    text-align: center;
    }
    .parrafo-titulo
    {
        margin-top: 1rem;
        text-align: center;
    }
    .doble-boton {
       display: flex;
       justify-content: center;
    } 
    .imagen-inicio {
        padding-bottom: 3rem;
    }
    .redes {    
    display: flex;
    justify-content: center;
}
    .footer-texto {
        display: flex;
    justify-content: center;
    }
    .img-redes {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.titulo-c {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
.contenido-f {
    margin-top: 0 !important;
}
   
}