@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

/*Colores*/
/*Fuente*/
.bg-primary {
  background-color: #FC5130 !important;
}

.navbar-style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  padding-top: 1rem;
  border-bottom: 1px solid #707070;
  box-shadow: 1px 1px 1px 1px rgba(85, 85, 85, 0.3);
  background-color: #FC5130 !important;
}

.nav-item {
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.links {
  display: flex;
}

li {
  list-style: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

/*
.menu {
    display: flex !important;
    justify-content: right !important;

}
*/
/*Inicio*/
body {
  font-family: Poppins;
  background-color: #F2F1EA;
  color: #292928;
}

.titulo-section {
  font-size: 50px;
  padding-top: 10px;
}

.destacado-titulo {
  color: #FF7257;
  padding-top: 0px;
}

.parrafo-titulo {
  font-size: 16px;
  margin-top: 1rem;
}

.contenido-t-p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.bp-h {
  color: #ffffff;
}

.bs-h {
  color: #306AFC;
}

li {
  list-style-type: none;
  color: #ffffff;
}

.img-redes {
  padding: 10px;
  display: flex;
  justify-content: right;
}

/*Experiencia*/
.h1-center {
  text-align: center;
}

.p-subtitulo {
  text-align: center;
}

/*Formación*/
.subtitulo-f {
  border: 1px solid #FC5130;
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.img-formacion {
  width: 80px;
  height: 80px;
  background-color: #306AFC;
  display: flex;
  justify-content: center;
  border-radius: 80px;
}

.card {
  border: 2px solid #306AFC !important;
  background-color: #DCE6FF;
  border-radius: 20px;
}

.card-title {
  font-size: 1rem !important;
}

.card-p-center {
  text-align: center;
}

h5 {
  color: #306AFC !important;
}

.form-titulo {
  font-size: 1.5rem;
}

.formulario-c {
  background-color: #DCE6FF;
  border-radius: 20px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #306AFC;
}

.titulo-c {
  margin-top: 3rem;
}

/*Habilidades*/
.img-h {
  width: 50px;
  height: 50px;
}

.img-contenedor-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Contacto*/
.texto-izq {
  text-align: left;
}

/*Extend*/
.btn-rl, .btn-secondary-rl, .btn-primary-rl {
  border-radius: 40px;
  width: 175px;
  height: 66px;
  font-family: Poppins;
  font-size: 1rem;
}

.btn-primary-rl {
  background-color: #306AFC;
  color: #ffffff;
  border: 2px solid #306AFC;
}
.btn-primary-rl:hover {
  background-color: #0549f7;
  border: 2px solid #0549f7;
}

.btn-secondary-rl {
  background-color: #ffffff;
  border: 2px solid #306AFC;
  color: #306AFC;
}
.btn-secondary-rl:hover {
  border: 2px solid #0549f7;
  background-color: #dfe7ff;
}

.doble-boton {
  display: flex;
  justify-content: left;
  align-items: left;
}

.boton-principal {
  padding-top: 20px;
}

.boton-secundario {
  padding-top: 20px;
  padding-left: 10px;
}

@media (max-width: 990px) {
  .imagen-inicio {
    padding-bottom: 3rem;
  }
  .redes {
    display: flex;
    justify-content: center;
  }
  .footer-texto {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .titulo-section {
    padding-top: 0px;
    text-align: center;
  }
  .parrafo-titulo {
    margin-top: 1rem;
    text-align: center;
  }
  .doble-boton {
    display: flex;
    justify-content: center;
  }
  .imagen-inicio {
    padding-bottom: 3rem;
  }
  .redes {
    display: flex;
    justify-content: center;
  }
  .footer-texto {
    display: flex;
    justify-content: center;
  }
  .img-redes {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .titulo-c {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .contenido-f {
    margin-top: 0 !important;
  }
}
.footer {
  border-top: 1px solid #FC5130;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #292928;
}

.footer-texto {
  padding-top: 2rem;
  color: #FC5130;
  font-size: 14px;
  text-align: left;
}

.redes {
  display: flex;
  justify-content: right;
  padding-top: 1rem;
}

/*# sourceMappingURL=main.css.map */
