@use "./variables";

/*Inicio*/
body {
    font-family: variables.$fuente-body;
    background-color: variables.$color-fondo-body;
    color: variables.$color-fondo-footer;
}

.titulo-section {
    font-size: 50px;
    padding-top: 10px;    
}

.destacado-titulo {    
    color: variables.$color-destacado2;
    padding-top: 0px;

}
.parrafo-titulo
{
    font-size: 16px;
    margin-top: 1rem;
}
.contenido-t-p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;  
    color: variables.$color-white; 
}
.bp-h {
    color: variables.$color-white;
}
.bs-h {
    color: variables.$color-primario;
}

li {
    list-style-type: none;
    color: variables.$color-white; 
}
.img-redes {
    padding: 10px;
    display: flex;
    justify-content: right;
}

/*Experiencia*/

.h1-center {
    text-align: center;
    padding-top: 2rem;
}
.p-subtitulo {
    text-align: center;
}

/*Formación*/

.subtitulo-f {
    border: 1px solid variables.$color-destacado;
    background-color: variables.$color-white;
    padding: 15px;    
    text-align: center;
}

.img-formacion {
    width: 80px;
    height:80px;
    background-color: variables.$color-primario;
    display: flex;
    justify-content: center;
    border-radius: 80px;
    
}
.card {
    border: 2px solid variables.$color-primario !important;
    background-color: #DCE6FF;
    border-radius: 20px;
}
.card-title
 {
   font-size: 1rem !important;
}
.card-p-center {
 text-align: center;
}
 
h5 {
    color: variables.$color-primario !important;
}
.form-titulo {
    font-size: 1.5rem;
}
.formulario-c {     
    background-color: variables.$color-secundario;
    border-radius: 20px;
    padding-top:5rem;
    padding-bottom:5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid variables.$color-primario;
    
}
.texto-form {
    text-align: left;
}

.titulo-c {
    margin-top: 3rem;
}

/*Habilidades*/

.img-h {
    width: 50px;
    height: 50px;  
    
}

.img-contenedor-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contacto*/

.texto-izq {
    text-align: left;
}


