
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Colores*/

$color-destacado: #FC5130;
$color-destacado2: #FF7257;
$color-fondo-body:#F2F1EA;
$color-fondo-footer:#292928;
$color-primario: #306AFC;
$color-secundario: #DCE6FF;
$color-hover-p:#0549f7;
$color-hover-s:#dfe7ff;
$color-texto:#212529;
$color-white:#ffffff;

/*Fuente*/

$fuente-body: Poppins;